#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Gradle
.gradle/
build/

# Minecraft
config/
crash-reports/
logs/
mods/
resourcepacks/
saves/
screenshots/
options.txt

